<%- include('partials/header'); -%>
    <div class="container">
        <br/><h3 style="text-align: center; font-weight: bold;">
            This Will Be a Register Page.
        </h3> 
        <a href="/">Go to home</a>
    </div>
<%- include('partials/footer'); -%>
